<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/resource/static/css/normalize_bfcc33a.css">
    {% block baseHeader %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    <script type="text/javascript" src="/static/resource/static/js/mod_9528f52.js"></script>
    {% block baseFooter %}{% endblock %}

</body>
</html>