<!DOCTYPE html>
{% html framework="web_i18n:static/script/lib/mod.js" %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/static/resource/aweme_web_i18n/static/style/normalize_bfcc33a.css">
    {% block baseHeader %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    {% block baseFooter %}{% endblock %}
    <script type="text/javascript" src="/static/resource/aweme_web_i18n/static/script/lib/zepto_602a7da.js"></script>
</body>
{% endhtml %}